<html>
<title>
    Edit Equipment
</title>

<head>
    <style>
        input, button {
            font-family: arial, sans-serif;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        </style>
</head>

<body>
    <form action="/edit_equipment/{{ equipment.id }}" method="POST">
        <label>Name: </label><input name="name" value="{{ equipment.name }}" type="text">
        <br>
        <label>Status: </label>
        <br>
        {% if equipment.status == 1 %}
        <input type="radio" name="status" value="1" checked><label>Available</label>
        <br>
        <input type="radio" name="status" value="0"><label>Hidden</label>
        {% endif %}
        {% if equipment.status == 0 %}
        <input type="radio" name="status" value="1"><label>Available</label>
        <br>
        <input type="radio" name="status" value="0" checked><label>Hidden</label>
        {% endif %}
        <br>
        <button type="submit"> SAVE </button>
    </form>
</body>

</html>