<html>
<title>EQUIPMENT</title>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6, a {
            font-family: arial, sans-serif;
        }
    </style>
</head>

<body>
    <h1>EQUIPMENT LIST</h1>
    <br>
    <a href="/add_equipment">ADD EQUIPMENT</a>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Quantity</th>
            <th>Date Added</th>
            <th>Borrower_ID</th>
            <th>EDIT</th>
        </tr>
        {% for equipment in equipments %}
        <tr>
            <td>{{ equipment.id }}</td>
            <td>{{ equipment.name }}</td>
            <td>{{ equipment.status }}</td>
            <td>{{ equipment.quantity}}</td>
            <td>{{ equipment.date_added }}</td>
            <td>{{ equipment.borrower_id }}</td>
            <td><a href="/edit_equipment/{{ equipment.id }}">EDIT</a></td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>